.popup__input-container {
    padding-top: 54px;
    padding-left: 36px;
    padding-right: 36px;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 580px) {
    .popup__input-container {
        padding-top: 75px;
        padding-left: 22px;
        padding-right: 22px;
    }
}