.profile__subtitle {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 16px;
}

@media screen and (max-width: 915px) {
    .profile__subtitle {
        padding-top: 14px;
        padding-bottom: 36px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}