.card__button-like {
  background-image: url('../../../images/Like-btn.svg');
  background-size: 100%;
  width: 22px;
  height: 19px;
  border: 0;
  padding: 0;
  opacity: 1;
  transition: opacity .5s ease-in-out;
  padding-left: 22px;
  margin-bottom: 3px;
}

.card__button-like:hover {
  opacity: .6;
}

.card__button-like:focus {
  opacity: .6;
}


