.card__btn_like {
    width: 20px;
    height: 20px;
    background-image: url(../../../../images/Like-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.card__btn_like:hover {
    opacity: .6;
}

.card__btn_like:focus {
    opacity: .6;
}

.card__btn_like:active::content {
    background-image: url(../../../../images/like-btn-active.svg);
    
}